pandas
selenium
webdriver-manager
typing  # This is built into Python, so no need to include
queue   # This is built into Python, so no need to include
threading  # This is built into Python, so no need to include
sqlite3  # This is built into Python, so no need to include